---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 85
NamespaceIndentation: None
PointerAlignment: Left
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
SortIncludes: true
IndentCaseLabels: true
...

